body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header h2 {
    text-align: center;
    color: #006EB6;
    letter-spacing: 1px;
}

main {
    text-align: center;
}

section {
    margin-top: 20px;
}

ul {
    text-align: left;
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 150px;
}

p {
    text-align: left;
}

